.navbar{
    position: sticky;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem ;
    background-color: var(--black);
    top: 0;
    z-index: 100;
}
.logo{
    font-size: 1.6rem ;
}
.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem ;
}
.link{
    color: var(--grey) ;
    font-weight: 500 ;
    font-size: 1.2rem;
}

.link:hover{
    color: var(--white) ;
    transition: all 0.3s;
}
.mobile-drawer{
    display: none;
}
@media only screen and (max-width: 800px){
    .logo{
        font-size: 1rem; 
    }
    
    .link{
        font-size: 0.8rem ;
    }
    .links{
        display: none ;
    }
    .mobile-drawer{
        display: block;
    }
    .drawer-div{
        width: 40vw;
        background-color: var(--black);
        height: 100vh ;
        padding: 1.5rem ;
    }
}