@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
  --white: #fff ;
  --black: #111 ;
  --blue: #3a80e9 ;
  --grey: #888 ;
  --darkgrey: #1b1b1b ;
  --green: #61c96f ;
  --red: #f94141 ;
}
html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  /* height: 200vh ; */
  font-family: 'Inter', sans-serif;
 -webkit-font-smoothing: antialiased ;
 -moz-osx-font-smoothing: grayscale ;
 background-color: var(--black) ;
 color: var(--white) ; 
}                                                                  
::selection{
  background-color: var(--blue);
  color: var(--white) ;
}
/* width */
::-webkit-scrollbar {
  width: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue); 
  border-radius: 3rem;
}
a{
  color: var(--white) !important ;
  text-decoration: none !important ;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555; 
} */

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  }

  .grey-wrapper{
    display: block;
    width: 95% ;
    padding: 1rem 1rem ;
    background-color: var(--darkgrey);
    margin: 1.5rem auto ;
    border-radius : 0.8rem ;
  }

.coins-days-flex{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1.5em ;
  gap: 2rem ;

}
